@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #bbbcbd;
}
#header {
	background-image: url(img/header.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 70px;
	width: 100%;
}
#header img {
	height: 70px;
	margin: 0 50px;
}
